<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KFPJ4JX');</script>
<!-- End Google Tag Manager -->
<!--MathJax Script for Latex-->
<script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js">
    MathJax.Hub.Config({
      extensions: ["tex2jax.js","TeX/AMSmath.js","TeX/AMSsymbols.js"],
      jax: ["input/TeX","output/HTML-CSS"],
      tex2jax: {
          inlineMath: [['$','$']],
          processEscapes: true,
      },
    });
  </script>
<!--MathJax Script for Latex-->
<!--For Sorting tables-->
<script src="sorttable.js"></script>
<!--For sorttable tables-->
<!--------------------------------------------------Start of HTML Document----------------------------------------->
<!----CSS for Tables---->
<style>table, th, td {
  border: 1px solid black;
}</style>
<!----CSS for tables--->

<header>

  (ↄ)|<a href="https://bluewworks.github.io">Jai Ramanathan</a>
  :<a href="https://bluewworks.github.io/Social-Media/">Social Media</a>
  :
</header>

<h1>Social Media<h1>

<table>
  <tr>
    <th><h1>Major Social Media Platforms<h1></th>
  </tr>
</table>

<table>
  <tr>
    <th>Facebook</th>
    <th>Twitter</th>
    <th>Linkedin</th>
    <th>Reddit</th>
  </tr>
  <tr>
    <th><img src="https://raw.githubusercontent.com/bluewworks/Social-Media/master/images/Facebook.jpg" alt="Fun & Games" style="width:500px;height:500px";</th>
    <th><img src="https://raw.githubusercontent.com/bluewworks/Social-Media/master/images/Twitter.jpg" alt="Fun & Games" style="width:500px;height:500px";</th>
    <th><img src="https://raw.githubusercontent.com/bluewworks/Social-Media/master/images/Linkedin.jpg" alt="Fun & Games" style="width:500px;height:500px";</th>
    <th><img src="https://raw.githubusercontent.com/bluewworks/Social-Media/master/images/Reddit.jpg" alt="Fun & Games" style="width:500px;height:500px";</th>
  </tr>
  <th>I do not have facebook as i cannot pass its face verification,its says i created a facebook account in 2010,who keeps of ones accounts</th>
  <th><a href="https://twitter.com/bluewworks">BlueWorks</a></th>
  <th><a href="https://www.linkedin.com/in/bluewworks-blue-161824192/">BlueWorks</th>
  <th><a href="https://www.reddit.com/user/bluewworks">BlueWorks</a></th>
</table>

<table><h1>Blogging and Websites<h1></table>

<table>
  <tr>
    <th>Wordpress</th>
    <th>Altervista</th>
    <th>EduBlogs</th>
    <th>ProFree Hosting</th>
    <th>InfinityFree Hosting</th>
    <th>Tumblr</th>
    <th>Github Pages</th>
    <th>Gitlab Pages</th>
    <th>BitBucket Pages</th>
    <th>Wix</th>
    <th>Weebly</th>
  </tr>
   <tr>
      <th><img src="" alt="Fun & Games" style="width:500px;height:500px";</th>
      <th><img src="" alt="Fun & Games" style="width:500px;height:500px";</th>
      <th><img src="" alt="Fun & Games" style="width:500px;height:500px";</th>
      <th><img src="" alt="Fun & Games" style="width:500px;height:500px";</th>
      <th><img src="" alt="Fun & Games" style="width:500px;height:500px";</th>
      <th><img src="" alt="Fun & Games" style="width:500px;height:500px";</th>
      <th><img src="" alt="Fun & Games" style="width:500px;height:500px";</th>
      <th><img src="" alt="Fun & Games" style="width:500px;height:500px";</th>
      <th><img src="" alt="Fun & Games" style="width:500px;height:500px";</th>
      <th><img src="" alt="Fun & Games" style="width:500px;height:500px";</th>
      <th><img src="" alt="Fun & Games" style="width:500px;height:500px";</th>
    </tr>
    <tr>
      <th>Wordpress</th>
      <th>Altervista</th>
      <th>EduBlogs</th>
      <th>ProFree Hosting</th>
      <th>InfinityFree Hosting</th>
      <th>Tumblr</th>
      <th>Github Pages</th>
      <th>Gitlab Pages</th>
      <th>BitBucket Pages</th>
      <th>Wix</th>
      <th>Weebly</th>
    </tr>
  </table>

<table><h1>Coding Profiles<h1></table>

<table>
  <tr>
    <th>Github</th>
    <th>Gitlab</th>
    <th>BitBucket</th>
    <th>Kaggle</th>
    <th>LanchPad</th>
  </tr>
  <tr>
    <th><img src="" alt="Fun & Games" style="width:500px;height:500px";</th>
    <th><img src="" alt="Fun & Games" style="width:500px;height:500px";</th>
    <th><img src="" alt="Fun & Games" style="width:500px;height:500px";</th>
    <th><img src="" alt="Fun & Games" style="width:500px;height:500px";</th>
    <th><img src="" alt="Fun & Games" style="width:500px;height:500px";</th>
  </tr>
  <tr>
    <th>Github</th>
    <th>Gitlab</th>
    <th>BitBucket</th>
    <th>Kaggle</th>
    <th>LanchPad</th>
  </tr>
</table>

<table><h1>File Sharing Sites<h1></table>
<table>
  <tr>
    <th>Scribd</th>
    <th>SlideShare</th>
  </tr>
  <tr>
    <th><img src="" alt="Fun & Games" style="width:500px;height:500px";</th>
    <th><img src="" alt="Fun & Games" style="width:500px;height:500px";</th>
  </tr>
  <tr>
    <th>Scribd</th>
    <th>SlideShare</th>
  </tr>
</table>

<table><h1>Chats<h1></table>

<table>
  <tr>
    <th>Telegram</th>
    <th>WhatsApp</th>
    <th>Slack</th>
    <th>Messenger</th>
  </tr>
  <tr>
    <th><img src="" alt="Fun & Games" style="width:500px;height:500px";</th>
    <th><img src="" alt="Fun & Games" style="width:500px;height:500px";</th>
    <th><img src="" alt="Fun & Games" style="width:500px;height:500px";</th>
    <th><img src="" alt="Fun & Games" style="width:500px;height:500px";</th>
  </tr>
  <tr>
    <th>BlueWorks</th>
    <th>BlueWorks</th>
    <th>BlueWorks</th>
    <th>BlueWorks</th>
  </tr>
</table>

<table><h1>Academic Profiles and Publications<h1></table>

<table>
  <tr>
    <th>Researchgate</th>
    <th>Academia</th>
    <th>OrCid ID</th>
    <th>Google Scholar</th>
    <th>ArXiv;Preprint Server</th>
  </tr>
  <tr>
    <th><img src="" alt="Fun & Games" style="width:500px;height:500px";</th>
    <th><img src="" alt="Fun & Games" style="width:500px;height:500px";</th>
    <th><img src="" alt="Fun & Games" style="width:500px;height:500px";</th>
    <th><img src="" alt="Fun & Games" style="width:500px;height:500px";</th>
    <th><img src="" alt="Fun & Games" style="width:500px;height:500px";</th>
  </tr>
  <tr>
    <th>Researchgate</th>
    <th>Academia</th>
    <th>OrCid ID</th>
    <th>Google Scholar</th>
    <th>ArXiv;Preprint Server</th>
  </tr>
</table>
